<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 指定当前工程再Monitor中的名称，一般与工程名相同 -->
    <dubbo:application name="01-provider" />

    <!-- 指定注册中心：不使用注册中心 -->
    <dubbo:registry address="N/A" />

    <bean id="someService" class="com.wdx.provider.SomeServiceImpl" />

    <!-- 暴露服务 -->
    <dubbo:service interface="com.wdx.service.SomeService" ref="someService" />

</beans>