<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 指定当前工程再Monitor中的名称，一般与工程名相同 -->
    <dubbo:application name="02-consumer-zk" />

    <!--<dubbo:registry address="zookeeper://aliyunOS:2181" />-->
    <dubbo:registry address="zookeeper://aliyunOS:2181?backup=aliyunOS:2182" />

    <!-- 指定所有方法采用轮询 -->
    <dubbo:reference id="someService" check="false"
                     interface="com.wdx.service.SomeService"
                     loadbalance="roundrobin" retries="2" cluster="failfast"/>

    <!-- 指定不同方法采用不同的负载均衡算法 -->
    <!--<dubbo:reference interface="com.wdx.service.SomeService"
                     id="someService" check="false">
        <dubbo:method name="hello" loadbalance="roundrobin" />
        <dubbo:method name="doFirst" loadbalance="random" />
        <dubbo:method name="doFirst" loadbalance="leastactive" />
    </dubbo:reference>-->

</beans>